body {
  margin: 0;
  text-align: center;
  font-family: "DM Sans", sans-serif;
}

.topCloud {
  margin: 40px auto 40px auto;
  position: relative;
  left: 150px;
}

h1 {
  margin: 0;
  font-size: 50px;
}
.paragraph {
  font-family: "DM Mono", monospace;
}
.pro {
  text-decoration: underline;
}

.bottomCloud {
  position: absolute;
}
