body {
  margin: 0;
  text-align: center;
  font-family: "DM Sans", sans-serif;
}

.topCloud {
  margin: 40px auto 40px auto;
  position: relative;
  left: 150px;
}

h1 {
  margin: 0;
  font-size: 50px;
  color: #66bfbf;
}
.paragraph {
  font-family: "DM Mono", monospace;
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #66bfbf;
  font-weight: normal;
  line-height: 2;
}
.pro {
  text-decoration: underline;
}

.bottomCloud {
  position: absolute;
}
